node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.nitro
.tanstack

# dotenv environment variable files
.env
.env.*
!.env.example

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
